<style>
  .search-btn {
    background-color: #fe4d42;
    color: #fff;
    border-radius: 25px;
    padding: 0 1rem 0 1rem;
  }

  .search-btn:hover {
    background-color: #fe4d42;
    color: #fff;
  }

  .search-btn i {
    display: inline;
    margin-right: 0.5rem;
  }

  .search-inp {
    border-radius: 25px;
    padding: 0.5rem 3rem 0.5rem 3rem;
  }

  .container-fluid {
    background-color: #fff;
  }
</style>

<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listing"><i class="fa-regular fa-compass"></i></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <div class="navbar-nav">
        <a class="nav-link" href="/listing">Explorer</a>
      </div>

      <div class="navbar-nav ms-auto">
        <form class="d-flex submitForm" role="search" action="/listing/find" method="get">
          <input class="form-control me-2 search-inp inputVal" type="search" placeholder="Search destination" name="inputVal">
          <button class="btn search-btn searchBtn" type="submit"><i class="fa-solid fa-magnifying-glass"></i>Search </button>
        </form>
      </div>

      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listing/new">Airbnb your home</a>
        <% if(!currUser) { %>
          <a class="nav-link " href="/signup"><b>Signup</b></a>
          <a class="nav-link" href="/login"><b>Login</b></a>
          <% } %>
            <% if(currUser) {%>
              <a class="nav-link" href="/logout"><b>Logout</b></a>
              <% } %>
      </div>
    </div>
  </div>
</nav>

