#filters {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
  }

  .filter {
    text-align: center;
    margin-top: 2rem;
    margin-right: 2rem;
    align-items: center;
    opacity: 0.8;
  }

  .filter:hover {
    opacity: 1;
    cursor: pointer;
  }

  .filter p {
    font-size: 0.8rem;
  }

  .tax-info {
    display: none;
  }

  .tax-toggle {
    border: 1px solid black;
    border-radius: 1rem;
    height: 3.2rem;
    padding: 1rem;
    margin-left: 2rem;
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    box-sizing: border-box;
  }

  .hideOne,
  .hide,
  .hide2,
  .hide3 {
    display: inline !important;
  }

  @media(max-width:1300px) {
    .hideOne {
      display: none !important;
    }
  }

  @media(max-width:1150px) {
    .hide {
      display: none !important;
    }
  }

  @media(max-width:950px) {
    .hide2 {
      display: none !important;
    }
  }

  @media(max-width:800px) {
    .hide3 {
      display: none !important;
    }

    #filters {
      flex-wrap: wrap;
      justify-content: space-around;
    }
  }